/.DS_Store
/TP1_IA_Sante_Classification_Correction.ipynb
/TP2_IA_Sante_Regression_Correction.ipynb
/TP3_IA_Sante_Clustering_Correction.ipynb
/TP4_IA_Sante_DeepLearning_Correction.ipynb
/TP5_IA_Sante_Renforcement_Correction.ipynb
/TP6_IA_Sante_NLP_Correction.ipynb
/démo
/images
/~$Cours.pptx